.Bottom-Bar {
  padding: 1rem;

  height: 100%;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: var(--Main-theme);
  display: flex;
  gap: 8vw;
}
.Canvas-W-H {
  width: 16rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.var-inputs {
  color: var(--Element-main-theme);
  font-size: 1rem;
  padding-left: 0.2rem;
  width: 5em;
  background-color: var(--Secondary-main-theme);
}
.size:hover {
  background-color: var(--Element-hi-light);
}
.input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.W-size,
.strokeWidth,
.segments {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
h1 {
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

.Variables {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  width: 15rem;
  color: var(--Element-main-theme);
  font-weight: 700;
  margin-bottom: max(1.7vh, 1rem);
  appearance: none;
}
.Rotation {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  width: 15rem;
  color: var(--Element-main-theme);
  font-weight: 700;
  margin-bottom: max(2vh, 1rem);
  appearance: none;
}
.Variable-Input {
  appearance: none;
  background-color: transparent;
}
.Variable-Input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background-color: var(--Element-main-theme);
  border-radius: 4px;
  height: 0.5rem;
  -webkit-appearance: none;
}
.Variable-Input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin-top: -4px;
  background-color: var(--Element-secondary-theme);
}
.Variable-Input:disabled::-webkit-slider-runnable-track {
  background-color: var(--Secondary-main-theme);
}
.Variable-Input:disabled::-webkit-slider-thumb {
  background-color: var(--Secondary-main-theme);
}

.Direction-Buttons {
  display: flex;
  gap: 2rem;
  width: 8rem;
  justify-content: center;
}

.Direction-Button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}
.Direction-Icon {
  width: 100%;
  height: 100%;
  color: var(--Element-main-theme);
}
.Direction-Icon:hover {
  width: 100%;
  height: 100%;
  color: var(--Element-secondary-theme);
}
.Direction-Icon:active {
  width: 100%;
  height: 100%;
  color: var(--Element-hi-light);
}

@media only screen and (max-width: 80rem) {
  .Canvas-W-H {
    width: fit-content;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  .W-size,
  .strokeWidth,
  .segments {
    display: flex;
    white-space: nowrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .var-inputs {
    color: var(--Element-main-theme);
    font-size: 1rem;
    padding-left: 0.2rem;
    width: 3em;
    background-color: var(--Secondary-main-theme);
  }
}
@media only screen and (max-width: 50rem) {
  .Variables {
    font-size: 1rem;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: fit-content;
    color: var(--Element-main-theme);
    font-weight: 700;
    margin-bottom: max(2vh, 1rem);
    appearance: none;
  }

  .Rotation {
    font-size: 1rem;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: fit-content;
    color: var(--Element-main-theme);
    font-weight: 700;
    margin-bottom: max(2vh, 1rem);
    appearance: none;
  }
  .Bottom-Bar {
    padding: 2vh 0 2vh 2vw;
    position: fixed;
    height: 26vh;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: var(--Main-theme);
    display: flex;
    gap: 8vw;
    font-size: min(2vh, 1rem);
  }
}
/* @media screen and (max-height: 50rem){
  .Bottom-Bar {
    padding: 2vh 0 2vh 2vw;
    position: fixed;
    height: 20vh;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: var(--Main-theme);
    display: flex;
    gap: 8vw;
    font-size: min(2vh,1rem);
  }
} */
@media only screen and (max-width: 40rem) {
  .Bottom-Bar {
    padding: 2vh 0 2vh 2vw;
    position: absolute;
    height: 26vh;
    bottom: 0;
    width: 100%;
    color: red;
    background-color: var(--Main-theme);
    display: flex;
    background-color: aqua;
    gap: 8vw;
    font-size: 10px;
  }

  .Canvas-W-H {
    width: fit-content;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  .Variables {
    font-size: 1rem;
    gap: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: fit-content;
    color: var(--Element-main-theme);
    font-weight: 700;
    margin-bottom: max(2vh, 1rem);
    appearance: none;
  }

  .Variable-Input {
    appearance: none;
    background-color: transparent;
    width: 100px;
  }

  .Variable-Input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background-color: var(--Element-main-theme);
    border-radius: 4px;
    height: 0.3rem;
  }
  .Variable-Input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    cursor: pointer;
    height: 0.6rem;
    width: 0.6rem;
    margin-top: -0.15rem;
    background-color: var(--Element-secondary-theme);
  }
}
